:root {
  --principal:#9E6240;
  --suave:#f8f2dd;
  --acentuado:#B4F8C8;
  --aviso:#FF4500;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: var(--principal);
  color: var(--acentuado);

  display: grid;
  grid: 
    "titulo titulo titulo titulo" auto
    "...... listas listaAtiva ......"  auto/
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.titulo {
  grid-area: titulo;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  margin: -0.2em 0 0.5em;
}

.todas-listas {
  grid-area: listas;
}

.listas-tarefas {
  line-height: 1.7;
  list-style: none;
  padding-left: 1.1em;
  letter-spacing: .15rem;
}

.listas-tarefas li {
  cursor: pointer;
}

.listas-tarefas li:hover {
  transform: scale(1.02);
}

form {
  display: flex;
}

.botao {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}

.botao.adicionar {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25rem;
  transition: scale 250ms ease-in;
}

.botao.adicionar:hover {
  transform: scale(1.1);
}

.nova {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  font-size: inherit;
  outline: none;
  padding: .25em;

  transition: border-bottom 150ms ease-in;
  order: 2;
}

.nova::placeholder {
  color: inherit;
}

.nova:focus {
  border-bottom-width: 3px;
}

.nova:focus::placeholder {
  opacity: .2;
}

.nova.lista {
  font-size: 1.2rem;
}

.lista-ativa {
  font-weight: 900;
}

.lista-tarefas {
  --acolchoamento: 2rem;

  grid-area: listaAtiva;
  background: var(--suave);
  color: var(--principal);
}

.tarefa-topo {
  padding: var(--acolchoamento);
  background: rgba(158, 98, 64, .3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo-lista, .contagem-tarefas {
  margin: 0;
}

.titulo-lista {
  margin-right: 1em;
}

.contagem-tarefas {
  font-size: 1rem;
}

.tarefa-corpo {
  padding: var(--acolchoamento);
  position: relative;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.item-tarefa label {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.item-tarefa {
  position: relative;
}

.item-tarefa::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 2px;
  background: currentColor;
  opacity: 0.5;
}

.checkbox-customizada {
  --tamanho: 0.6em;
  display: inline-block;
  width: var(--tamanho);
  height: var(--tamanho);
  margin-right: var(--tamanho) ; 
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.item-tarefa:hover .checkbox-customizada,
[type="checkbox"]:focus + label .checkbox-customizada {
  transform: scale(1.2);
  filter: brightness(85%)
}

[type="checkbox"]:checked + label .checkbox-customizada {
  background: var(--acentuado);
  border: 2px solid var(--principal);
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.item-tarefa label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  left: 1.5em;
  top: 50%;
  height: 3px;
  background: currentColor;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 150ms ease-in;
}

[type="checkbox"]:checked + label::after {
  transform: scaleX(1);
  transform-origin: left;
}

.adicionar-tarefas form {
  margin-top: 2rem;
}

.deletar-itens {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom:-35px;
  color: var(--suave);
}

.botao.deletar {
  opacity: 0.7;
  font-size: 1.1rem;
  transition: color 200ms;
}

.botao.deletar:hover {
  color: var(--aviso);
}